@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body div[id='app'] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: $text-primary;
    font-family: 'Nunito', sans-serif;
    &-small {
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: $text-primary;
        font-family: 'Nunito', sans-serif;
    }
}

title {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: $text-primary;
    @media (max-width: 1023px) {
        font-size: 40px;
    }
    &-h2 {
        font-family: 'Nunito', sans-serif;
        font-size: 32px;
        font-weight: 500;
        color: $text-primary;
        @media (max-width: 1023px) {
            font-size: 36px;
        }
    }
    &-h3 {
        font-family: 'Nunito', sans-serif;
        font-size: 28px;
        font-weight: 500;
        color: $text-primary;
    }
    &-h4 {
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: $text-primary;
    }
}

.text {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: $text-primary;
    &-small {
        font-size: 16px;
        font-weight: 400;
        color: $text-primary;
        font-family: 'Nunito', sans-serif;
    }
}

.container {
    margin: 0 auto;
    padding: 0 120px;
    max-width: 1440px;

    @media (max-width: 1440px) {
        padding: 0 120px;
        max-width: 1200px;
    }

    @media (max-width: 1024px) {
        padding: 0 40px;
        max-width: 944px;
    }
}
.invents-select {
    .v-field {
        background-color: white !important;
        border-radius: 10px;
    }
    .v-field__outline {
        --v-field-border-width: 0px;
        padding: 0px;
    }
    .v-field__input {
        --v-field-input-padding-top: 12px;
        --v-field-input-padding-bottom: 12px;
        --v-input-control-height: 28px;
    }
    .v-field__input input {
        font-family: 'Nunito', sans-serif;
    }
    .v-field__input input::placeholder {
        color: black;
    }
}
