$footer: #9fe0fc;
$layout: #fff;
$header: #dacbf7;
$text-primary: #313131;
$text-secondary: #ffffff;
$button-primary: #4d65e5;
$button-secondary: #b3cdf9;
$grey: #818181;
$pink: #fae6f2;
$lightPink: #ffcce4;
$light-green: #c8efc5;
$green: #5ccf54;
$error: #ff535c;
$black: #313131;
$greenGame: #b5f9ad;
$blueGame: #d2efff;
$vihous: #c62582;
$darkBlue: #0d47aa;
