$footer: #9FE0FC;
$layout: #fff;
$header: #DACBF7;
$text-primary: #313131;
$text-secondary: #ffffff;
$button-primary: #4D65E5;
$button-secondary: #b3cdf9;
$grey: #818181;
$pink: #FAE6F2;
$light-green: #C8EFC5;
$green: #5CCF54;
$error: #FF535C;
$black: #313131;
$greenGame: #B5F9AD;
$blueGame: #D2EFFF;
