$footer: #9fe0fc;
$layout: #fff;
$header: #dacbf7;
$text-primary: #313131;
$text-secondary: #ffffff;
$button-primary: #4d65e5;
$button-secondary: #b3cdf9;
$grey: #818181;
$pink: #FAE6F2;
$light-green: #C8EFC5;
$green: #5CCF54;
$error: #FF535C;
